# Server
PORT=3000

# Twitch
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHANNEL=
TWITCH_BOT_USERNAME=
TWITCH_ACCESS_TOKEN=

# Kick
KICK_CLIENT_ID=
KICK_CLIENT_SECRET=
KICK_CHANNEL=
KICK_ACCESS_TOKEN=
KICK_REFRESH_TOKEN=
KICK_BROADCASTER_USER_ID=